@import "tailwindcss";

/*Removes arrows from number imput*/
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/*Ag grid customization of header*/
.ag-theme-quartz .ag-header {
  font-weight: normal;
  font-size: 16px;
  background-color: rgb(189, 189, 189);
}

/*Ag Grid customization of theme*/
.ag-theme-quartz {
  --ag-odd-row-background-color: #e7e7e7;
  --ag-font-size: 14px;
  --ag-border-color: #d1d5db;
}
